<template>
  <div class="challenge">
    <div class='ball-container'>
      <div
        v-for="(ball, index) in balls"
        :key="index"
        class="ball"
        :style="{
          left: `${ball.left}px`,
          top: `${ball.top}px`,
          animation: `ball-${index} ${ball.duration}s linear infinite`
        }"
      >{{ index }}</div>
    </div>
  </div>
</template>

<script lang='ts'>
import { defineComponent, ref, onMounted } from 'vue'

export default defineComponent({
  setup() {
    const balls = ref([] as any)
    const numBalls = ref(100)
    for (let i = 0; i < numBalls.value; i++) {
      const left = Math.random() * 1000
      const top = Math.random() * 300
      const duration = Math.random() * 2 + 1
      balls.value.push({ left, top, duration })
    }

    const createKeyframes = (index:number) => {
      const ballStyleSheet = document.styleSheets[0]
      let keyframes = ''
      if (index % 1 === 0) {
        keyframes = `@keyframes ball-${index} {
          0% {
            top: 50px;
            left: 75px;
          }
          75% {
            top: calc(50vh - ${index * 2});
            left: calc(100vw - ${index * 2});
          }
          100% {
            top: calc(50vh - ${index * 2});
            left: calc(100vw - ${index * 2});
          }
        }`
      }
      if (index %3 === 0) {
        keyframes = `@keyframes ball-${index} {
          0% {
            top: 100px;
            right: 75px;
          }
          75% {
            top: calc(50vh - ${index * 3});
            right: calc(100vw - ${index * 3});
          }
          100% {
            top: calc(50vh - ${index * 3});
            right: calc(100vw - ${index * 3});
          }
        }`
      }
      if (index %5 === 0) {
        keyframes = `@keyframes ball-${index} {
          0% {
            top: 10px;
            left: 75px;
          }
          75% {
            top: calc(50vh - ${index * 5}px);
            left: calc(100vw - ${index * 5}px);
          }
          100% {
            top: calc(50vh - ${index * 5}px);
            left: calc(100vw - ${index * 5}px);
          }
        }`
      }
      if (index % 7 === 0) {
        keyframes = `@keyframes ball-${index} {
          0% {
            top: 50px;
            right: 75px;
          }
          75% {
            top: calc(50vh - ${index * 7}px);
            right: calc(100vw - ${index * 7}px);
          }
          100% {
            top: calc(50vh - ${index * 7}px);
            right: calc(100vw - ${index * 7}px);
          }
        }`
      } else {
        keyframes = `@keyframes ball-${index} {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(300px, 0);
          }
        }`
      }
  
      ballStyleSheet.insertRule(keyframes, ballStyleSheet.cssRules.length);
    }

    onMounted(() => {
      for (let index = 0; index < numBalls.value; index++) {
        createKeyframes(index);
      }
    })

    return { balls }
  }
})
</script>

<style lang='scss' scoped>
.challenge{
  .ball-container {
    margin-top: 60px;
    position: relative;
    width: 390px;
    height: 100%;
  }
  .ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #db7134;
    border-radius: 50%;
  }
}

</style>