<script lang='ts'>
import { defineComponent,  reactive, } from 'vue';
import MenuItem from "./MenuItem.vue"

export default defineComponent({
  setup(_props) {
    const menu = reactive({
      list: {
        title: "主目錄",
        children: [
          {
            title: "子選單1",
            children: [
              {
                title: "子選單1-1",
                children: [
                {
                    title: "子選單2-1",
                    children: [
                      {
                        title: "子選單3-1",
                        children: [
                          {
                            title: "子選單4-1",
                            children: [
                              {
                                title: "子選單5-1",
                                children: [
                                    {
                                    title: "子選單6-1",
                                    children: [
                                      {
                                        title: "子選單7-1",
                                        children: [
                                          {
                                            title: "子選單8-1",
                                            children: [
                                              {
                                                title: "子選單9-1",
                                                children: [
                                                  // ... more
                                                ]
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          },
          {title: '子選單1-2',children:[]}
        ]
      }
    })
    return {
      menu
    }
  }
})
</script>

<template>
  <div>
    <menu-item :menu-item="menu.list"></menu-item>
  </div>
</template>