<template>
  <div> 
    <div @click.sotp="toggle">{{ menuItem.title }}</div>
    <div v-if="isOpen && menuItem.children.length > 0" class="py-1">
      <menu-item 
        v-for="child in menuItem.children"
        :key="child.title"
        :menu-item='child'
      ></menu-item>
    </div>
</div>
 
</template>

<script lang='ts'>
import { defineComponent, onMounted, ref, } from 'vue';

export default defineComponent({
  props: ['menuItem'],
  comments: {
    "menu-item": () => import("./MenuItem.vue") //遞迴
  },
  setup(_props) {
    const isOpen = ref(false)
    const toggleItem = (item: { opened: boolean; }) => {
      item.opened = !item.opened
    }
    const toggle = () => {
      isOpen.value = !isOpen.value
    }
    onMounted(() => {      
    })
    return {
      toggle,
      toggleItem,
      isOpen
    }
  }
})
</script>

<style scoped>
.line{
  margin-top: 20px;
  border-top: solid 1px #ddd;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 20px;
}

.opened {
  transform: rotate(90deg);
}
</style>