<template>
  <div class='line'> 
    <ul v-for="item in menuItems" :key="item.id">
      <li>
        <span @click="toggleItem(item)"> {{ item.label }} </span>
      </li>
      <div v-if="item.opened">
        <ul v-for="children in item.children" :key="children.id">
          <li style='color:#ff0'><span> {{ children.label }} </span></li>
        </ul>
      </div>
  </ul>
</div>
 
</template>

<script lang='ts'>
import { defineComponent, onMounted, ref, } from 'vue';

export default defineComponent({
  setup(_props) {
    const menuItems = ref([
      {
        key: 0,
        label: '主選單',
        opened: false,
        children: [{
          label: '子選單',
          opened: false
        }] as any
      }
    ]) as any
    const toggleItem = (item: { opened: boolean; }) => {
      item.opened = !item.opened
    }
    onMounted(() => {
      for (let i = 0; i < 100; i++){
        menuItems.value.push({
        key: i,
        label: '主選單'+ i,
        opened: false,
        children: [{
          label: '子選單' + i,
          opened: false
        }] as any
      })
      }
    })
    return {
      toggleItem,
      menuItems
    }
  }
})
</script>

<style scoped>
.line{
  margin-top: 20px;
  border-top: solid 1px #ddd;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 20px;
}

.opened {
  transform: rotate(90deg);
}
</style>