<script setup lang="ts">
  import { ref } from 'vue'
  import Challenge from './Challenge.vue'
  
  const work = ref(true)
  const challenge = ref(false)
  const challenge2 = ref(false)
  const challenge3 = ref(false)
  const ballStyle = ref('ball top-one')
  const ballStyle2 = ref('ball2 top-three')
  
  const handleBall = () => {
    work.value = !work.value
    challenge.value = false
    challenge2.value = false
    challenge3.value = false
    ballStyle.value = 'ball top-one'
    ballStyle2.value = 'ball2 top-three'
  }
  
  const handleBallTest1 = () => {
    work.value = false
    challenge2.value = false
    challenge3.value = false
    challenge.value = !challenge.value
    ballStyle.value = 'ball3  ball-part2'
    ballStyle2.value = 'ball4 ball-part2'
  }
  const handleBallTest2 = () => {
    work.value = false
    challenge.value = false
    challenge3.value = false
    challenge2.value = !challenge2.value
    ballStyle.value = 'ball5'
    ballStyle2.value = 'ball5'
  }
  const handleBallTest3 = () => {
    work.value = false
    challenge.value = false
    challenge2.value = false
    challenge3.value = !challenge3.value
    ballStyle.value = 'hidden'
    ballStyle2.value = 'hidden'
  }
</script>
<template>
  <div class="work">
    <div class="grid-container mt-12">
        <div class="grid">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell flashing"></div>
            <div class="cell"></div>
            <div class="cell flashing"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell flashing"></div>
        </div>
        <div class="top-one" :class="ballStyle">0</div>
        <div class="top-three" :class="ballStyle2">0</div>
        <div class="bottom-one" :class="ballStyle">0</div>
        <div class="bottom-three" :class="ballStyle2">0</div>
    </div>
    <Challenge class='challenge' v-if='challenge3'/>

    <div class="h-12 md:ml-10 md:pr-4 md:space-x-8 mt-14">
      <h1>九宮格作業</h1>
      <button @click="handleBall" class="bg-blue-500 text-white m-2 px-4">預設</button>
      <button @click="handleBallTest1" class="bg-blue-500 text-white m-2 px-4">特效</button>
      <button @click="handleBallTest2" class="bg-blue-500 text-white m-2 px-4">集中</button>
      <button @click="handleBallTest3" class="bg-blue-500 text-white m-2 px-4">百球</button>
    </div>
  </div>
   

</template>

<style lang='scss'>
.challenge{
  position: absolute;
  top: 0px;
}
  .grid-container {
    display: flex;
    width: 390px;
    justify-content: center;
    background-color: #ccc;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    text-align: center;
  }
  .cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background: radial-gradient(circle, rgba(113,81,95,1) 81%, rgba(0,0,0,1) 100%);
    position: relative;
  }
  .flashing {
    animation: flashing-animation .5s alternate infinite;
  }
  .ball {
    border-radius: 50%;
    padding-top: 3px;
    color:#000;
    width: 30px;
    height: 30px;
    background-color: #A5F12B;
    position: absolute;
    animation: ball-move 2s ease-out  infinite;
    animation-fill-mode: both;
  }
  .ball2 {
    border-radius: 50%;
    padding-top: 3px;
    width: 30px;
    height: 30px;
    color:#000;
    background-color: #A5F12B;
    position: absolute;
    animation: ball2-move 2s ease-out infinite;
    animation-fill-mode: both;
  }
  .ball3 {
    border-radius: 50%;
    padding-top: 3px;
    color:#000;
    width: 30px;
    height: 30px;
    background-color: #A5F12B;
    position: absolute;
    animation: moveBalls 1s linear infinite;
    animation-fill-mode: both;
  }
  .ball4 {
    border-radius: 50%;
    padding-top: 3px;
    width: 30px;
    height: 30px;
    color:#000;
    background-color: #A5F12B;
    position: absolute;
    animation: moveBalls 1s linear infinite;
    animation-fill-mode: both;
  }
  .top-one {
    top: 12%;
    left: 70px;
  }
  .top-three {
    top: 12%;
    right: 70px;
  }
  .bottom-one {
    top: 38%;
    left: 70px;
  }
  .bottom-three {
    top: 38%;
    right: 70px;
  }
  @keyframes flashing-animation {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 60%;
    }
  }
  @keyframes ball-move {
    0% {
        left: 50px;
    }
    75% {
      left: calc(74%); 
    }
    100% {
      left: calc(76%); 
    }
  }
  @keyframes ball2-move {
    0% {
      left: 300px;
    }
    50% {
      left: calc(72% + 300px); 
    }
    100% {
      left: calc(74% + 300px); 
    }
  }
  .ball-part2 {
    display: flex;
    animation: moveBalls 1s linear infinite;
    justify-content: center;
  }
  @keyframes moveBalls {
      0% {
          transform: translateY(100%);
      }
      100% {
          transform: translateY(-400%);
      }
  }
  .ball5 {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    position: absolute;
    border-radius: 50%;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes moveRight {
    0% {
      top: 100px;
      left: 75px;
    }
    75% {
      top: calc(50vh - 210px);
      left: calc(100vw - 210px);
    }
    100% {
      top: calc(50vh - 210px);
      left: calc(100vw - 210px);
    }
  }
  @keyframes moveLeft {
    0% {
      top: 100px;
      right: 75px;
    }
    75% {
      top: calc(50vh - 210px);
      right: calc(100vw - 210px);
    }
    100% {
      top: calc(50vh - 210px);
      right: calc(100vw - 210px);
    }
  }
    @keyframes moveUpRight {
      0% {
        top: 300px;
        left: 75px;
      }
      75% {
        top: calc(50vh - 210px);
        left: calc(100vw - 210px);
      }
      100% {
        top: calc(50vh - 210px);
        left: calc(100vw - 210px);
      }
    }

    @keyframes moveUpLeft {
      0% {
        top: 300px;
        right: 75px;
      }
      75% {
        top: calc(50vh - 210px);
        right: calc(100vw - 210px);
      }
      100% {
        top: calc(50vh - 210px);
        right: calc(100vw - 210px);
      }
    }
    .ball5:nth-child(2) {
        animation-name: moveRight;
    }
    .ball5:nth-child(3) {
        animation-name: moveLeft;
    }
    .ball5:nth-child(4) {
        animation-name: moveUpRight;
    }
    .ball5:nth-child(5) {
        animation-name: moveUpLeft;
    }
    </style>