<script setup lang="ts">
import { onMounted, reactive, watch } from 'vue';
import Work from './components/Work.vue'
import NavBar from './components/NavBar.vue'

const booleanType = reactive({
  work: false,
  challenge: false
})
watch(() => booleanType.work, () => {
  if (booleanType.work) {
    booleanType.challenge = false
  } else {
    booleanType.work = false
  }
})

onMounted(() => {
  booleanType.work = true
})
</script>

<template>
  <NavBar></NavBar>
  <div>
    <Work v-if='booleanType.work'/>
  </div>
</template>

<style scoped>

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
